<div ng-include="'views/module/pageInfo.html'"/>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> {{$state.$current.data.pageTitle}}</span>
                    <!--<span class="caption-helper">column and line mix</span>-->
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_1" class="chart" style="height: 500px;">
                </div>
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>
</div>
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
<script>
    console.log('加载图形1！');
</script>