<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="{:MOBILE_PUBLIC_PATH}/img/screen_icon.png">
<title>我的学员</title>
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" />
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>

</head>
<body class="x_flowAuto">
<div id="pageStudentList" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none"  class="x_header"  data-position="fixed"  data-tap-toggle="false" style="z-index:999999999">
        <a href="index.html"  data-role="none" data-rel="back" class="x_btn_back" data-transition="slide"></a>
        <a href="#"  id="searchBtn" data-role="none" data-transition="slide" class="ui-btn-right x_btn_search"></a>
        <h1>
        	<input class="searchTxt" id="searchTxt" type="text"  data-role="none" value="输入学员名称搜索" >
        </h1>
    </div><!--//header -->
    <div class="x_tabs c_fixed x_tabs_student" id="c_tabs_student" >
        <ul>
            <li   style="width: 50%;" id="c_tab_student0"><a href="#">未支付推荐费</a></li>
            <li   style="width: 50%;" id="c_tab_student1"><a href="#">已支付推荐费</a></li>
        </ul>
        <div class="x_tabs_slide tabSlide20"><span style="width: 50%;" id="slide"></span></div>
    </div><!--//tabs -->
    <div class="x_tab_content x_tab_padd">
       <div class="conBk" style="width:200%; position:relative; top:0; left:0;">
          <div class="con" style="width: 50%;">
          	  <!--科目一-->
              <div class="c_studenList" id="studentList0">
                  <div class="x_tab_notdata">无学员记录！</div>
              </div>
          </div>
          <div class="con" style="width: 50%;">
          	  <!--科目二-->
              <div class="c_studenList"  id="studentList1">
                  <div class="x_tab_notdata">无学员记录！</div>
              </div>
          </div>
       </div>
    </div><!--//tab_content -->
    <script type="text/javascript">
        $(function(){

            //搜索栏
            $("#searchTxt").focus(function () {
                $(this).addClass("focus2");
                if ($(this).val() == this.defaultValue) {
                    $(this).val("");
                }
            }).blur(function () {
                if ($(this).val() == '') {
                    $(this).removeClass("focus2");
                    $(this).val(this.defaultValue);
                } else {
                    $(this).addClass("focus2");
                }
            });

            $("#searchBtn").click(function(){
                var text =  $("#searchTxt").val();
                if(text ==  $("#searchTxt")[0].defaultValue){
                    text = "";
                }
                var section = -99;
                for(var i = -1; i < 5; i++){
                    if(i == 0){
                        continue;
                    }
                    var parentEle =  $("#" + "studentList" + i);

                    if(parentEle != null) {
                        var childList = parentEle.children(".row01");
                        var num = 0;
                        for (var j = 0; j < childList.length; j++) {
                            if ($(childList[j]).text().indexOf(text) >= 0 || text == "") {
                                var ele = childList[j];
                                ele.hidden = false;
                                if(section == -99) {
                                    section = i;
                                }
                                num++;
                            } else {
                                var ele = childList[j];
                                ele.hidden = true;
                            }
                        }
                        if(num > 0){
                            parentEle.children(".x_tab_notdata").hide();
                        }else{
                            parentEle.children(".x_tab_notdata").show();
                        }
                    }
                }
                if(section != -99){
                    $("#c_tab_student"+section).click();
                }
            });


            // get data
            $.ajax({ //一个Ajax过程
                type: "post",
                url: "{:addons_url('Student://Student/getMyStudent')}",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var htmlData = "<div class=\"row01\">";
                        if (data[i].headimgurl != "" && data[i].headimgurl != null) {
                            htmlData = htmlData + "<div class=\"pic01\"><img src=\"" + data[i].headimgurl + "\"></div>";
                        } else {
                            htmlData = htmlData + "<div class=\"pic01\"><img src=\"{:MOBILE_PUBLIC_PATH}/img/man.png\"></div>";
                        }
                        htmlData = htmlData + "<div class=\"info01\">" +
                        "<ul>" +
                        "<li>" + data[i].name + "</li>" ;
                        if(data[i].sign_date  != null ){
                            htmlData = htmlData +"<li>报名日期：" + data[i].sign_date + "</li>";
                        }
                        htmlData = htmlData + "</ul>" +
                        "</div>" +
                        "</div>";
                        if(data[i].is_in_payed == null){
                            data[i].is_in_payed = 0;
                        }
                        var studentListEle = $("#" + "studentList" + data[i].is_in_payed);
                        if(studentListEle.length > 0 && studentListEle.html().indexOf("无学员记录")>0 ){
                            studentListEle.children(".x_tab_notdata").hide();
                        }
                        studentListEle.html(studentListEle.html() + htmlData);
                    }
                },
                failed: function () {

                }
            })
        });
    </script>

	<script type="text/javascript">
    $(function(){
		/*-----滑动-左-----*/
		$(".x_tab_content").on( "swipeleft", function( event ) {
			 event.stopPropagation();  //阻止冒泡
			 $("body").scrollTop(0);
			 if(tabN==1){
				$("#slide").animate({ left :'50%' }, 300); //滑动到n1
			 }
//			 if(tabN==2){
//				$("#slide").animate({ left :'40%' }, 300);
//			 }
//			 if(tabN==3){
//				$("#slide").animate({ left :'60%' }, 300);
//			 }
//			 if(tabN==4){
//				$("#slide").animate({ left :'80%' }, 300); //滑动到n5
//			 }
			 if( !conObj.is(":animated") ){
				 if( tabN == 5 ){
						return false;
					}else{
						conObj.animate({ left : -(v_width * tabN)+'%' }, 300)
						tabN++;
				 }
			 }
			 $("#c_tabs_student li").eq(tabN-1).addClass("active").siblings().removeClass("active");
		});

		/*-----滑动-右-----*/
		$(".x_tab_content").on( "swiperight", function( event ) {
			 event.stopPropagation(); //阻止冒泡
			 $("body").scrollTop(0);
			 if(tabN==5){
				$("#slide").animate({ left :'60%' }, 300); //滑动到n5
			 }
			 if(tabN==4){
				$("#slide").animate({ left :'40%' }, 300); //滑动到n4
			 }
			 if(tabN==3){
				$("#slide").animate({ left :'20%' }, 300); //滑动到n3
			 }
			 if(tabN==2){
				$("#slide").animate({ left :'0%' }, 300); //滑动到n2
			 }
			 if( !conObj.is(":animated") ){
				 if( tabN == 1 ){
						return false;
					}else{
						var numr=parseInt(tabN-2);
						conObj.animate({ left : -(v_width * numr)+'%' }, 300)
						tabN--;
				 }
			 }
			 $("#c_tabs_student li").eq(tabN-1).addClass("active").siblings().removeClass("active");
	    });

		/*-----选项卡-------*/
		var tabN=1;
		var v_width="100";
		var conObj= $(".conBk");
		$("#c_tabs_student li").each(function(i){
			$(this).click(function(){
				$("body").scrollTop(0);
				if(i==0){
					conObj.animate({ left : 0 },300);
					$("#slide").animate({ left :'0%' }, 300); //滑动n1
				}
				if(i==1){
					conObj.animate({ left : -(v_width * i)+'%' }, 300);
					$("#slide").animate({ left :'50%' }, 300); //滑动到n2
				}
//				if(i==2){
//					conObj.animate({ left : -(v_width * i)+'%' }, 300);
//					$("#slide").animate({ left :'40%' }, 300); //滑动到n2
//				}
//				if(i==3){
//					conObj.animate({ left : -(v_width * i)+'%' }, 300);
//					$("#slide").animate({ left :'60%' }, 300); //滑动到n2
//				}
//				if(i==4){
//					conObj.animate({ left : -(v_width * i)+'%' }, 300);
//					$("#slide").animate({ left :'80%' }, 300); //滑动到n2
//				}
				$(this).addClass("active").siblings().removeClass("active");
				tabN=i+1;
			})
		})

    });
    </script>
</div> <!--//Page-->
</body>
</html>
