<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="{:MOBILE_PUBLIC_PATH}/img/screen_icon.png">
    <title>首页</title>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css"/>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/iscroll.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/owl.carousel.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>
    <style>
        .company_info {
            /*background: #fff;*/
            padding: 15px;
            color: #4F4F4F;
            border-radius: 5px;
            margin: 10px 10px;
            text-align:center;
        }
    </style>
    <script>

        //幻灯片自动播发激活
        function owlplay() {
            $('.owl-carousel').trigger('play.owl', 2000);
        }
        /*滚动条*/
        var myScroll;
        function loaded() {
            /*幻灯片*/
            $('.owl-carousel').owlCarousel({
                items: 1,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                        margin: 0
                    },
                    480: {
                        items: 2,
                    },
                    960: {
                        items: 3
                    }
                }
            });
            setTimeout(owlplay, 2000);

            /*iscroll*/
            myScroll = new IScroll('#wrapper', {
                tap: true,
                click: false,
                preventDefaultException: {tagName: /.*/},//解除默认事件锁定，调用tab，click等事件,不支持swipeleft
                scrollbars: true,
                mouseWheel: true,
                fadeScrollbars: true
            });
        }

        function preventDefault(e) {
            e.preventDefault();
        }
        ;
        document.addEventListener('touchmove', preventDefault, false);
    </script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>

    <script type="text/javascript" name="baidu-tc-cerfication" data-appid="6044540"
            src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>

</head>
<body onload="loaded()">
<div id="pageIndex" data-role="page" data-theme="none">
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/owl.carousel.css">
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/owl.theme.css">
    <div id="wrapper">
        <div id="scroller">
            <!--幻灯片 -->
            <div class="x_slideBk">
                <div class="owl-carousel">
                    <volist name="imgs" id="vo">
                        <div class="article" style="background:url({$vo.path}) no-repeat; background-size: 100% 100%;">
                            <h2></h2><img src="{:MOBILE_PUBLIC_PATH}/img/x_space.png" width="360" height="150"></div>
                    </volist>
                </div>
            </div>
            <!--//幻灯片 -->
            <div class="c_item">
                <div class="ui-block-a">
                    <div class="ui-body">
                        <span>驾校简介</span>
                        <a href="{:addons_url('School://Info/schoolInfo')}" data-role="none" data-transition="slide"
                           data-ajax="false"><img src="{:MOBILE_PUBLIC_PATH}/img/item_comp.png"></a>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-body">
                        <span>驾校导航</span>
                        <a href="{:U('schoolNavigation')}" data-role="none" data-transition="slide"
                           data-ajax="false"><img src="{:MOBILE_PUBLIC_PATH}/img/item_guide.png"></a>
                    </div>
                </div>
                <div class="ui-block-c">
                    <div class="ui-body">
                        <span>在线报名</span>
                        <a href="{:U('schoolRegister','section=2')}" data-role="none" data-transition="slide"
                           data-ajax="false"><img src="{:MOBILE_PUBLIC_PATH}/img/item_card.png"></a>
                    </div>
                </div>
                <div class="ui-block-d">
                    <div class="ui-body">
                        <span>驾校风采</span>
                        <a href="{$showUlr}" data-transition="slide" data-ajax="false"><img
                                src="{:MOBILE_PUBLIC_PATH}/img/item_pic.png"></a>
                    </div>
                </div>
                <div class="ui-block-c">
                    <div class="ui-body">
                        <span>学员圈</span>
                        <a href="{$circleUrl}" data-transition="slide" data-ajax="false"><img
                                src="{:MOBILE_PUBLIC_PATH}/img/item_group.png"></a>
                    </div>
                </div>
                <div class="ui-block-f">
                    <div class="ui-body">
                        <span>最新优惠</span>
                        <a href="{:addons_url('School://Privilege/schoolRrivilege')}" data-transition="slide"
                           data-ajax="false"><img src="{:MOBILE_PUBLIC_PATH}/img/item_gift.png"></a>
                    </div>
                </div>
                <div class="ui-block-f">
                    <div class="ui-body">
                        <span>报名指南</span>
                        <a href="{:U('schoolRegister','section=0')}" data-role="none" data-transition="slide"
                           data-ajax="false"><img src="{:MOBILE_PUBLIC_PATH}/img/item_regGuide.png"></a>
                    </div>
                </div>
                <div class="ui-block-f">
                    <div class="ui-body">
                        <span>模拟考试</span>
                        <a href="http://m.jxedt.com" data-transition="slide" data-ajax="false"><img
                                src="{:MOBILE_PUBLIC_PATH}/img/item_try.png"></a>
                    </div>
                </div>
                <div class="ui-block-f">
                    <div class="ui-body">
                        <span>在线问答</span>
                        <a href="{:U('schoolQuestion')}" data-transition="slide" data-ajax="false"><img
                                src="{:MOBILE_PUBLIC_PATH}/img/item_chat.png"></a>
                    </div>
                </div>

            </div>
            <!--模块 end -->
            <div class="row01">
                <div class="info01">
                    <div class="tit01">
                        <div class="company_info">由<a style=" color: #0099FF" href="http://mp.weixin.qq.com/s?__biz=MzA4Njk5MzI2OA==&mid=400678441&idx=2&sn=f0750b92ede7d588f6bb621d6e04812d&scene=1&srcid=1117RoOuZFM7l2izx5ZTq3E3&key=d4b25ade3662d6436271f1bfcaf19d708d3b18278bc434aa362813b278428985335b765f874820a57852ff4b11d8f335&ascene=0&uin=NDg0NzM5MTM1&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.11.1+build(15B42)&version=11020201&pass_ticket=4HlwisknTHjFVUrFfyh%2BL5CQ2Uh3enyJMuyBTjYwxYYzc9aLFQAdWvEbtuk94u6z">轻轻互联</a>提供技术支持</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//wrapper -->
    <div data-role="footer" data-theme="none" class="x_footer" data-position="fixed" data-tap-toggle="false"
         data-id="myfooter">
        <div class="x_navbar">
            <ul class="ui-grid-d">
                <li class="ui-block-a active"><a href="{:U('show')}" class="x_icon_home">首页</a></li>
                <li class="ui-block-b"><a href="{:U('schoolNavigation')}" class="x_icon_guide"
                                          data-ajax="false">校区导航</a></li>
                <li class="ui-block-c"><a href="{:U('showPage',null,false)}/page/schoolTeacherList"
                                          class="x_icon_teacher" data-ajax="false">找教练</a></li>
                <li class="ui-block-d"><a href="tel:{$phone}" class="x_icon_qq" data-ajax="false">联系校长</a></li>
                <li class="ui-block-e"><a href="{:U('myCenter')}" class="x_icon_my" data-ajax="false">我</a></li>
            </ul>
        </div>
    </div>
    <!--//footer -->
    <script>
        $(function () {

        })
    </script>
</div>
<!--//Page-->
</body>
</html>
