<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="img/screen_icon.png">
<title>轻轻学车百万学车红包大补贴，每人100元现金等你来抢！</title>
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" /> 
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css"> 
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery.kxbdmarquee.js"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>
<script>
$(function(){
	$("#marquee2").kxbdMarquee({isEqual:true});
    /*点击弹出层*/
    $("#getCoupon").click(function(){
        var phone = $("#phone").val();
        var name = $("#name").val();
        if( name == ""){
                alert("请填写您的姓名!")
                return;
        }
        if(phone == ""){
                alert("请填写您的电话号码!")
                return;
        }

        if(!(/^1[0-9][0-9]\d{4,8}$/.test(phone))){
               alert("不是完整的11位手机号或者正确的手机号前七位");
               return;
        }
        $.post("{:addons_url('QingQing://QingQing/addGoupon')}", {name: name, phone: phone}, function (result) {
            if (result.status == 1) {
                $("#getCoupon_pop").popup("open");
            }else{
                alert(result.info);
            }
        });
       
    })
    $(".coupon_pop_close").click(function(){
        $("#getCoupon_pop").popup("close");
    })

    $.post("{:addons_url('QingQing://QingQing/pageAttention')}",{},function(data){
        // xalert(data.appId + "|" +data.timestamp +  "|" +data.nonceStr +   "|" +data.signature + data.url);
        wx.config({
            debug: false,
            appId: data.appId,
            timestamp: data.timestamp,
            nonceStr: data.nonceStr,
            signature: data.signature,
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo'
            ]
        });

        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '轻轻学车百万学车红包大补贴，每人100元现金等你来抢！', // 分享标题
                link: '{:U('/addon/School/School/showpage',null,false)}/page/qingqingCoupons/token/{:get_token()}', // 分享链接
                imgUrl: 'http://{$_SERVER['HTTP_HOST']}/{:MOBILE_PUBLIC_PATH}/img/coupons100.png', // 分享图标

                success: function (res) {
                    // alert("进入成功");
                    // location.reload();
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    //
                    // alert("进入失败");
                }
            });
        });
    });

});

</script>

</head>
<body class="x_flowAuto couponsBg">
<div id="pageCoupon" data-role="page" data-theme="none">
    <!--获得红包 弹出层-->
    <div data-role="popup" id="getCoupon_pop" data-position-to="window" data-tolerance="10,30,10,30" data-shadow="false" data-overlay-theme="b" data-corners="false">
        <div class="coupon_pop_box">
            <span class="coupon_pop_close"></span>
            <div class="coupon_pop_title01">恭喜获得<span>100元学车红包</span></div>
            <div class="coupon_pop_title02">关注公众号，回复"红包"领取</div>
            <div class="qrcode">
                <img class="coupon_pop_pic" src="{:MOBILE_PUBLIC_PATH}/img/qrcode_qingqing.png">
            </div>
            <a href="#" class="ui-btn x_btn shareBtn">请点击右上角按钮<br>分享给小伙伴们</a>
        </div>
    </div>
    <!--//获得红包 弹出层-->
    	<div class="c_couponsBk">
            <img src="{:MOBILE_PUBLIC_PATH}/img/iqqxc_logo.png" class="iqqxc_logo">
            <img src="{:MOBILE_PUBLIC_PATH}/img/qrcode_qingqing.png" class="xc_qrCode">
            <div class="couponsList">
                <div id="marquee2">
                    <ul>
                        <li>138*＊＊＊3111 抢了100元红包</li>
                        <li>139＊＊＊＊2436抢了100元红包</li>
                        <li>133*＊＊＊6573 抢了100元红包</li>
                        <li>136＊＊＊＊3322抢了100元红包</li>
                        <li>135*＊＊＊5312 抢了100元红包</li>
                        <li>189＊＊＊＊3322抢了100元红包</li>
                        <li>158*＊＊＊3233 抢了100元红包</li>
                        <li>136＊＊＊＊0212抢了100元红包</li>
                    </ul>
                </div>
            </div>
            <div class="c_coupons">
            	<img src="{:MOBILE_PUBLIC_PATH}/img/coupons_blank.png" class="coupons_blank">
                <!--红包-->
                <div class="c_warn_bk" >
                  <div class="c_warn bindWarn" id="c_warn" style="display:none"><span ></span><label>请输入正确的电话号码！</label></div>
                </div>
                <div class="c_formMain">
                    <div>
                        <input data-role="none" type="text" id="name" class="c_ipt couponsIpt" value="" placeholder="请输入您的姓名">
                        <div class="x_blank"></div>
                        <input data-role="none" type="text" id="phone" class="c_ipt couponsIpt" value="" placeholder="请输入您的手机号码">
                    </div>
                        <div class="x_blank"></div>
                    <a href="#" class="ui-btn ui-corner-all x_btn couponsBtn" id="getCoupon">领取大红包</a>
                </div>
                <!--//红包-->
            </div> 
            <!--//联盟-->
            <div class="coupons_union_bk">
                <img src="{:MOBILE_PUBLIC_PATH}/img/coupons_union.png" class="coupons_union" >
            </div> 
            <!--//联盟-->
            <!--红包详情-->
            <div class="coupons_detail">
            	<div class="title">红包详情</div>
                <div>
                    <p>1、填写姓名、手机号，参与活动，即可获得学车大红包，该红包仅限厦门区域使用；</p>
                    <p>2、关注轻轻学车微信公众号 qqxueche，并回复红 包二字，领取红包；</p>
                    <p>3、手机保持畅通，美女客服将与你联系并支付红包金额； </p>
                </div>
            </div>
            <!--//红包详情-->
	</div><!-- /content -->
</div> <!--//Page-->
</body>
</html>
