<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="{:MOBILE_PUBLIC_PATH}/img/screen_icon.png">
<title>car</title>
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" />
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/weixin.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>

</head>
<body class="x_flowAuto">
<div id="pagePay" data-role="page" data-theme="none">
    <div class="c_payBg">
        <!--教练名称-->
        <div class="c_payBox">
            <div class="c_pay_master">
                <div class="c_pay_photo"><img src="{$teacherInfo.headimgurl}"></div>
                <div class="c_pay_name">{$teacherInfo.name}</div>
            </div>
            <div class="c_pay_tip">温馨提示：请在下方选择要赠送的金额</div>
            <input id="total" type="hidden" value="1">
            <input id="paytype" type="hidden" value="banner">
            <div class="c_pay_flag">
                <ul id="pay_flag_type">
                    <li class="active" value="1">1<span>元</span></li>
                    <li value="2">2<span>元</span></li>
                    <li value="3">3<span>元</span></li>
                </ul>
            </div>
            <div class="c_pay_btn">
                <a href="#" class="ui-btn ui-corner-all x_btn bindBtn" id="send_pay">赠送锦旗</a>
            </div>
        </div>
        <!--//教练名称-->
    </div>
</div> <!--//Page-->
<script>
    // payParameter
    var payParameter;

    /**
     * init
     */
    $(function () {
        <!--选择金额-->
        $("#pay_flag_type li").click(function () {
            $(this).addClass("active").siblings().removeClass("active")
            $("#total").val($(this).val());
        });

        $("#send_pay").click(function () {
            var total = $("#total").val();
            var paytype = $("#paytype").val();
            var url = "{:U('/addon/EO2OPayment/EO2OPayment/paymentData',null,false)}/teacher_id/{$teacher_id}/student_id/{$student_id}/paytype/" + paytype + "/total/" + total; // 跳转到支付界面
            $.get(url, function (response) {
                if(response.status == 0){
                    alert(response.info);
                }else{
                    payParameter = response;
                    callpay(payParameter);
                }
            });
        });
    });
</script>
</body>
</html>
