<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="{:MOBILE_PUBLIC_PATH}/img/screen_icon.png">
    <title>推荐返现支付</title>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css"/>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/weixin.js"></script>

    <style>
        .c_merchant {
            padding: 0 30px;
            margin-top: 30px;
        }
        .follow {
            margin-bottom: 20px;
        }
        #mask {
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            z-index: 999;
            background-color: rgba(0, 0, 0, 0.5);
        }

        #mask img {
            top: 0px;
            right: 20px;
            position: absolute;
        }
    </style>
</head>
<body class="x_flowAuto">
<div id="mask" onclick="javascript:$('#mask').css('display', 'none');"><img
        src="{:MOBILE_PUBLIC_PATH}/img/share_white.gif"></div>
<div id="pageGiftShare" data-role="page" data-theme="none">
    <div class="x_content c_wrapper_padd">
        <div class="c_merchant">
            恭喜您成为“{$schoolInfo.name}”一员，我们工作人员会速速和您联系的!
        </div>
        <div class="follow"><img src="{$imgUrl}"> 长按二维码关注我们<br>赢取更多福利</div>
        <button class="ui-btn ui-corner-all x_btn couponsBtn" id="send_pay" {$signHide}>{$payItem.remark}</button>
        <div class="item_note text-center" {$signHide}>预先支付定金,到现场报名可享受优惠!</div>
        <a href="#" class="ui-btn ui-corner-all x_btn couponsBtn"
           onclick="javascript:$('#mask').css('display', 'block');">邀请好友学车，得100元</a>
        <div class="item_note text-center">邀请好友注册,可领取红包!</div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $.post("{:U('wxSignPackage')}", function (data) {
            wx.config({
                debug: false,
                appId: data.appId,
                timestamp: data.timestamp,
                nonceStr: data.nonceStr,
                signature: data.signature,
                jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'showAllNonBaseMenuItem'
                ]
            });
        });
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '我的驾校{$schoolInfo.name}，值得推荐！想学车过来哦!', // 分享标题
                link: "{:U('studentPayAdvance',null,false)}/token/{:get_token()}/in_student_openid/{:get_openid()}", // 分享链接
                imgUrl: "{$follow.headimgurl}", // 分享图标

                success: function (res) {
                    // alert("进入成功");
                    // location.reload();
                    _hmt.push(['_trackEvent', 'weixin', '预约付款活动朋友圈']);
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    //
                    // alert("进入失败");
                }
            });
            wx.onMenuShareAppMessage({
                title: '我的驾校{$schoolInfo.name}，值得推荐！想学车过来哦!', // 分享标题
                link: "{:U('studentPayAdvance',null,false)}/token/{:get_token()}/in_student_openid/{:get_openid()}", // 分享链接
                imgUrl: "{$follow.headimgurl}", // 分享图标

                success: function (res) {
                    // alert("进入成功");
                    // location.reload();
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    //
                    // alert("进入失败");
                }
            });
        });
    });

    $("#send_pay").click(function () {
        var url = "{:U('/addon/Student/Student/studentPayAdvanceResult',null,false)}"; // 跳转到支付界面
        $.post(url, null, function (response) {
            if (response.status == 0) {
                alert(response.info);
            } else {
                payParameter = response;
                callpay(payParameter, function () {
                    window.location.href = "{:U('/addon/Student/Student/studentPayAdvanceResult',null,false)}"; // 跳转到支付结果界面
                });
            }
        });
    });
</script>