<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="img/screen_icon.png">
    <title>car</title>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css"/>
    <link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/weixin.js"></script>

    <style>
        .dfc01, .dfc02 {
            font-size: 18px !important;
            padding-top: 12px !important;
        }

        .dfc01 {
            color: #ff3300 !important;
        }

        .dfc02 {
            color: #3fb73f !important;
        }

    </style>
</head>
<body class="x_flowAuto">
<div id="pagePaylist" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none" class="x_header" data-position="fixed" data-tap-toggle="false">
        <a href="#" data-role="none" data-rel="back" class="x_btn_back" data-ajax="false"></a>
        <a href="{:addons_url('Student://Student/studentCenterPay')}" data-ajax="false" data-role="none"
           class="ui-btn-right x_btn_text" style="width:55px"><span>自定义</span></a>

        <h1>我的缴费</h1>
    </div><!--//header -->
    <div class="x_content">
        <!--支付记录-->
        <volist name="payList" id="vo">
            <div class="c_payList">
                <div class="title"><span>¥{$vo.pay_fee}</span>{$vo.pay_item_name}</div>
                <ul>
                    <li><label>商户名称</label><span>{$vo.school_name}</span></li>

                    <if condition="$vo.result_code eq 'WAIT'">
                        <li><label class="dfc01">{$vo.pay_result}</label><span>
                            <a href="javascript:payWait({$vo.id})"
                               class="ui-btn ui-corner-all x_btn couponsBtn">立即支付</a></span>
                        </li>
                        <else/>
                        <li><label>支付时间</label><span>{$vo.pay_time}</span></li>
                        <li><label>支付方式</label><span>{$vo.pay_channel_name}</span></li>
                        <li><label>交易单号</label><span>{$vo.transaction_id}</span></li>
                        <li><label>商户单号</label><span>{$vo.out_trade_no}</span></li>
                        <li><label class="dfc02">{$vo.pay_result}</label></li>
                    </if>
                </ul>
            </div>
        </volist>
    </div>
</div>
</body>
</html>
<script>
    function payWait(id) {
        var url = "{:U('/addon/EO2OPayment/EO2OPayment/paymentData',null,false)}/id/" + id; // 跳转到支付界面
        $.get(url, function (response) {
            if (response.status == 0) {
                alert(response.info);
            } else {
                payParameter = response;
                callpay(payParameter);
            }
        });
    }
</script>
