<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="{:MOBILE_PUBLIC_PATH}/img/screen_icon.png">
<title>car</title>
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" />
<link rel="stylesheet" href="{:MOBILE_PUBLIC_PATH}/css/car.css">
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>

    <script>
$(function(){
	/*搜索栏*/
	$("#searchTxt").focus(function(){
		  $(this).addClass("focus2");
		  if($(this).val() ==this.defaultValue){  
			  $(this).val(""); 
		  } 
	}).blur(function(){
		 if ($(this).val() == '') {
			 $(this).removeClass("focus2");
			$(this).val(this.defaultValue);
		 }else{
			 $(this).addClass("focus2");
		 }
	}); 
	
});
</script>
</head>
<body class="x_flowAuto">
<div id="pageStudentList" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none"  class="x_header"  data-position="fixed"  data-tap-toggle="false" style="z-index:999999999">
        <a href="index.html"  data-role="none" data-rel="back" class="x_btn_back" data-transition="slide"></a>
        <a href="#" id="searchBtn" data-role="none" data-transition="slide" class="ui-btn-right x_btn_search"></a>
        <h1>
        	<input class="searchTxt" id="searchTxt" type="text"  data-role="none" value="输入教练名称搜索" >
        </h1>
    </div><!--//header -->
    <!--教练通讯录-->
    <div class="c_studenList" id="teacher_data_list">
    </div>
</div> <!--//Page-->
</body>
<script>
    $( function() {
        $.ajax({ //一个Ajax过程
            type: "post",
            url: "{:U('getTeacherData')}",
            dataType: 'json',
            success: function (data) {
                var tearcherList = document.getElementById('teacher_data_list');
                tearcherList.innerHTML = "";
                for (var i = 0; i < data.length; i++) {
                    // start html
                    var star_html = "";
                    if (data[i].subject) {
                        var subjects = data[i].subject.split(',');
                        for (var j = 0; j < subjects.length; j++) {
                            star_html = star_html + '科目'+subjects[j] + " ";
                        }
                    }

                    // inner html
                    tearcherList.innerHTML = tearcherList.innerHTML +
                    '<a href="'+data[i].info_url+'" data-role="none" data-transition="slide" data-ajax="false">'+
                    '<div class="row01">'+

                    '<div class="pic01"><img src="'+data[i  ].path+'"></div>'+
                    '<div class="info01">'+

                    '<ul>'+
                    '<li>'+data[i].name+'</li>'+
                    '<li><a href="tel:'+data[i].phone+'"><img src="{:MOBILE_PUBLIC_PATH}/img/phone_sm.png" class="phone_sm">'+data[i].phone+'</a></li>'+
                    '<li>'+star_html+'</li>'+
                    '<li>入职时间：'+data[i].show_time_in+'</li>'+
                    '</ul>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
                   ;
                }
            },
            failed: function () {
                alert("数据获取失败!");
            }
        })
    });

    $("#searchBtn").click(function(){
        var text =  $("#searchTxt").val();
        if(text ==  $("#searchTxt")[0].defaultValue){
            text = "";
        }
        var section = -99;
        for(var i = -1; i < 5; i++){
            if(i == 0){
                continue;
            }
            var parentEle =  $("#teacher_data_list");

            if(parentEle != null) {
                var childList = parentEle.children(".row01");
                for (var j = 0; j < childList.length; j++) {
                    if ($(childList[j]).text().indexOf(text) >= 0 || text == "") {
                        var ele = childList[j];
                        ele.hidden = false;
                    } else {
                        var ele = childList[j];
                        ele.hidden = true;
                    }
                }
            }
        }
    });
</script>
</html>
