<meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=TF9uZIGSSLdT4yNQQXjvi5N5&v=1.0"></script>
<script src="{:MOBILE_PUBLIC_PATH}/js/car.js"></script>

<div class="c_box">
    <dl class="mainInfo">
        <dt>基本资料：</dt>
        <dd>{$teacher_data.intro}</dd>
        <!--<dd>32岁，男，从事汽车教练工作10年，有教练资格证书，为人友善，做事认真细心，是学员公认的好教练，荣获省交通颁发的"十佳教练"称号。</dd>-->
    </dl>
    <dl class="mainInfo">
        <dt>教学范围：</dt>
        <dd>
            {$teacher_data.course_names}
        </dd>
    </dl>
    <dl class="mainInfo">
        <dt>教学区域：</dt>
        <dd>{$teacher_data.area_name}</dd>
    </dl>
</div>
<div id="map">
    <div class="x_blank"></div>
    <div class="c_box" id="allmap" style="height: 70px">
    </div>
</div>
<if condition="$payItme neq null">
    <div class="x_blank"></div>
    <div class="c_box">
        <dl  class="mainInfo">优惠活动</dl>

            <dl class="mainInfo">
                1、选择课程，进入预约，注册并支付100元预约金。现场报名在享受驾校同期最低价格同时，可再抵用200元； </dl>
            <dl class="mainInfo">
                2、手机保持畅通，美女客服将与你联系并支付红包金额；
            </dl>


    </div>
</if>
<div class="x_blank"></div>
<div class="c_box">
    <div class="tit01">开设课程</div>
    <div class="mainList">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <volist name="course_data" id="vo">
                <tr>
                    <td width="40%">{$vo.name}</td>
                    <td width="50%">{$vo.sign_charge}元</td>
                    <td>
                        <div class="space01"><a href="#" data-role="none" class="c_btn" id="reserve{$vo.id}">预约</a>
                        </div>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</div>
<div class="x_blank"></div>
<div class="x_item subItem">
    <ul>
        <li>锦旗数量({$banner_number})</li>
    </ul>
</div>
<div class="x_blank"></div>
<div class="c_box">
    <div class="tit01" id="apprise_num">学员评价</div>
    <div class="masterComment">
        <ul id='apprise_data'>
        </ul>
        <input id="load_number" type="hidden" value="0">
        <a href="#" class="ui-btn ui-corner-all x_btn x_mini" id="load_more" onclick="load_more()">加载更多</a>
    </div>
</div>
<script>
    $(function () {
        <!--点击预约-->
        <volist name = "course_data" id = "vo" >
        $("#reserve{$vo.id}").click(function () {
            $.ajax({
                type: "get",
                url: "{:U('getTeacherReg')}",
                dataType: "html",
                data: "id={$vo.id}&name={$vo.name}&sign_charge={$vo.sign_charge}",
                success: function (data) {
                    $('#masterCon').html(data);
                }
            });
            $('#masterNav li').eq(2).addClass("active").siblings().removeClass("active")
        });
        </volist >

        load_more();

        // get the map location
        loadLocation();
    })

    // load more  apprise
    function load_more() {
        load_number = parseInt($("#load_number").val());
        load_number = load_number+3;
        $.ajax({
            type: "get",
            url: "{:U('getTeacherApprise')}",
            dataType: "json",
            data: "load_number="+load_number+"&teacher_id={$teacher_data.id}",
            success: function (data) {
                var appriseData = document.getElementById('apprise_data');
                appriseData.innerHTML = "";
                console.log(data);
                console.log(data.length);
                $('#apprise_num').html('学员评价('+data.length+")");

                // add apprise
                for (var i=0;i<data.length;i++){
                    // inner html
                    var html =
                            '<li>'+
                            '<div class="tit01">';
                    if(data[i].headimgurl != null){
                        html +=   '<img src="'+data[i].headimgurl+'" >';
                    }
                    html += data[i].show_name+
                    '<span>'+data[i].format_time+'</span></div>'+
                    '<div class="row01">'+
                    data[i].apprise+
                    '</div>'+
                    '</li>';

                    appriseData.innerHTML  += html;
                }

                // have any more
                console.log(data.length);
                if(data.length < load_number){
                    $("#load_more").hide(true);
                }else{
                    $("#load_number").val(load_number);
                }
            }
        })
    }

    /**
     * load teacher data
     */
    function loadLocation() {
        var postion = "{$teacher_data.position}";
        if (postion == "") {
            $("#map").hide();
        } else {
            var location = postion.split(",");
            // 百度地图API功能
            var map = new BMap.Map("allmap");
            var point = new BMap.Point(location[0], location[1]);
            map.centerAndZoom(point, 15);
            map.addControl(new BMap.ZoomControl());
            var marker1 = new BMap.Marker(point);  // 创建标注
            map.addOverlay(marker1);              // 将标注添加到地图中
            map.addEventListener("click", function () {
                navigator.geolocation.getCurrentPosition(showPosition);
            });
        }
    }

    function showPosition(position)
    {
        var postion = "{$teacher_data.position}";
        var location = postion.split(",");
        var start = {
            latlng:new BMap.Point(position.coords.longitude,position.coords.latitude)
        }
        var end = {
            latlng:new BMap.Point(location[0],location[1])
        }
        var opts = {
            mode:BMAP_MODE_DRIVING,
            region:"厦门"
        }
        var ss = new BMap.RouteSearch();
        ss.routeCall(start,end,opts);
    }
</script>
