@charset "utf-8";

body{
    font-family: '微软雅黑','宋体';
	overflow: hidden;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none
}
a{ 
	text-decoration:none;
}
.cRed{
	color:#f00;	
}
input{font-family: '微软雅黑';}
img{ vertical-align:middle}
p{
	padding:0; margin:0;	
}
.x_clear{
	clear: both
}
.x_blank{
	height:.5em;
	clear: both
}
.x_left{
	float:left
}
.x_right{
	float:right
}
.x_line{
	height:.1em;
	clear: both;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
/* jqm */
.ui-field-contain{
	border-bottom:none;
}
/*隐藏头部和尾部两块的滚动条*/
.ui-panel-fixed-toolbar{
    overflow-y: hidden;
}
/* 头部 */
.ui-header-fixed{
	top:0	/* jqm样式是top:-1px,会多一个像素空隙 */
}
.ui-header .ui-title{ 
    font-size: 20px;
    font-weight: normal;
    padding-top:.5em;
	margin:0 10%;
}
.x_header{
    height:48px;
    background:#2d93e2;
    border: none;
}
.x_header h1{ 
    color: #fff;
	text-shadow:none;
}

.x_header .x_btn_back{ 
    border: none;
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 48px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-size: .3em;
}
.x_btn_back{ 
	 top:0;
    left: 0; 
    background-image: url(../img/x_btn_back.png);
}
.x_header .x_btn_back:active{ 
    background-color:#a30202;
}
.x_header .x_btn_back:focus{
    outline: 0;
}

.x_btn_bk{
	padding:0 1em
}
.x_btn{
	background:#fff;
	border:1px solid #ddd;
	color:#000;	
	font-family: '微软雅黑','宋体';	
}
.x_btn:active{
	background:#f36f17;
	color:#fff;
}

.x_btn_curr{
	background:#cf991c;
	color:#fff;
	border:1px solid #b68511;	
}

#pageIndex{
	background:#f1f1f1;
}

/* 内容 */
.x_content{
    padding: 0;
    margin: 0;
}
/* iscroll */
#wrapper{
    position:absolute;
    z-index:1;
    top:48px;
    bottom:54px;
    left:0;
    width:100%;
    overflow:hidden;
}
#scroller{
    position:absolute;
    z-index:1;/*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.x_tabs_area{ 
    position:absolute;
    z-index:1;
	top:90px;
    bottom:0;
    left:0;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
	background:#f2f2f2;
}
/* 尾部 */
.x_footer{
    height: 54px;
	border-top:1px solid #ccc;
    background:#f8f8f8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.x_navbar{
    font-size: 0.92em;
    padding-top:.3em;
} 
.x_navbar li a{
    color: #999;
    display: block;
    padding-top:24px ;
    text-decoration: none;
}

.x_navbar li.active a{
    color: #b68900
} 
.x_navbar li a.x_icon_home{
    background: url(../img/x_icon_home.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li.active a.x_icon_home{
    background: url(../img/x_icon_home_active.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li a.x_icon_list{
    background: url(../img/x_icon_list.png) no-repeat center top;
    background-size:24px 24px;
} 
.x_navbar li.active a.x_icon_list{
    background: url(../img/x_icon_list_active.png) no-repeat center top;
    background-size:24px 24px;
} 
.x_navbar li a.x_icon_share{
    background: url(../img/x_icon_share.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li.active a.x_icon_share{
    background: url(../img/x_icon_share_active.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li a.x_icon_user{
    background: url(../img/x_icon_user.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li.active a.x_icon_user{
    background: url(../img/x_icon_user_active.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li a.x_icon_set{
    background: url(../img/x_icon_set.png) no-repeat center top;
    background-size:24px 24px;
}
.x_navbar li.active a.x_icon_set{
    background: url(../img/x_icon_set_active.png) no-repeat center top;
    background-size:24px 24px;
}

.x_navbar li{
    text-align:center;
    height: 54px;
}

/*选项卡*/
.x_tabs{
    height: 42px;
    width: 100%;
    z-index: 99;
    background:#fff;
}
.x_tabs ul{
	overflow:hidden
}
.x_tabs li{
	float:left;
    height: 38px;
	width:33.33%;	
	text-align:center;
}
.x_tabs li a{
	text-decoration:none;
	color:#888;
	margin-top:.4em;
	display:block;
	border-right:1px solid #ddd;
	font-weight:normal;
	font-size:1.1em;
}
.x_tabs li:last-child a{
	border-right:none;
}
.x_tabs li.active{
	/*background:#fff url(../img/tabLine.png) repeat-x left bottom;*/
}
.x_tabs li.active a{
	color:#2d93e2;
}

.x_tabs_slide{
	height:3px;
	border-bottom:1px solid #e2e2e2;
	font-size:1px;
	position:relative;
}
.x_tabs_slide span{
	display:block;
	height:3px;
	font-size:1px;
	background:#55acef;
	width:33.3%;
	position:absolute;
	top:0;
	left:0;
}
.x_tab_content{
	width:100%;
	overflow:hidden;
}
.x_tab_content .conBk{
    
}
.x_tab_content .con{
	float:left;
    color: #555;
}
.tab50 li{
	width:50%	
}
.tabSlide50 span{
	width:50%	
}
/*选项列表*/
.x_item{
	background:#fff;
    border-top: 1px solid #ddd;
}
.x_item li{
    padding:1em .8em;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background: url(../img/icon_more.png) no-repeat 97% center;
    background-size: 22px 22px;
	font-size:1.1em;
	position:relative;
	cursor:pointer;
}
.x_item li.noLink{
	background:none;
}	
.x_item li:active{
    background-color: #e7e7e7;
}
.x_item li img{
    float: left;
    width: 22px;
    height: 22px;
}
.x_item li > span{
    display: block;
    margin-left: 30px;
}
.x_item li .tips01{
    position:absolute;
	right:2.8em;
	top:1.1em;
	color:#aaa;
}
.x_item li:last-child{
    /*border-bottom: none;*/
}
.x_item a{
	color:#000;
	text-decoration:none;
}
.x_item .moreLine li{
    padding:.8em .8em;
	font-size:1em;
	color:#333;
}
.x_item .moreLine li img{
    width: 20px;
    height: 20px;
}
.x_item li .info01{
    padding:5px 0 0 30px;
	font-size:.8em;
	color:#999;
}

/*popup 弹出层*/
.ui-popup.ui-body-inherit{
    border: none;
}
.x_popUp{
    background: #fff;
	-webkit-border-radius:.2em;
	border-radius:.2em;
}
.x_popUp h1{
    color: #996215;
    font-size: 1.2em;
    margin: 0;
    padding: .5em .5em .5em .8em;
    border-bottom: 1px solid #ccc;
	font-weight:normal;
}
.x_popUp .x_pop_tool{
    overflow: hidden;
    border-top:1px solid #ddd;
    background:url(../img/x_dot.png) repeat-y center top;
}
.x_popUp .x_pop_con{
    padding:1.8em 1.5em;
    font-size: 1.2em;
}
.x_popUp .x_pop_tool .x_pop_btn{
    float: left;
    color: #000;
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding: .7em 0;
    font-size: 1.2em;
}
.x_popUp .x_pop_tool .x_pop_btn:active{
    background: #f36f17;
}

/*表格*/
.x_table table{
	border-collapse:collapse;
}
.x_table td,th{
	border-bottom:1px solid #E2E2E2;
	text-align:left;
	word-break:break-all;
	background:#fff;
	padding:.6em .6em;
	font-size:.7em;
	font-weight:normal;
	text-align:center;
}
.x_table th{
	background:#f1f8ff;
}
.x_table td{
	color:#888
}


















