<div id="school-preview" class="modal fade bs-modal-sm"  width="375px" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" width="375px" >
        <div class="modal-content">
            <iframe id="preview-frame" frameborder="1" width="375px" height="627px" src="../index.php?s=/addon/School/School/show/.html"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showSchoolPreview() {
        $("#school-preview").modal("show");
    }
</script>