/*
!.gitignore
!cleancache.php
!index.php
!install.php
!license.txt
!logo.png
!README.md
!.htaccess
!/Addons
!/admin
!/Application
!/assets
!/Public
!/sass
!/ThinkPHP
!/URLRewrite
!/Doc
!/mobile


/Application/Common/Conf/config.php
/Application/User/Conf/config.php