<div class=" form portlet-body ">
    <form action="javascript:;" class="form-horizontal">
        <div class="form-body">
            <div class="alert alert-danger" ng-show="errorShow" ng-bind="showMsg">
                <button class="close" data-close="alert"></button>
            </div>
            <div class="alert alert-success" ng-show="successShow" ng-bind="showMsg">
                <button class="close" data-close="alert"></button>
            </div>
            <div class="form-group" ng-repeat="(key, value) in addon.config">
                <label class="control-label col-md-3">{{value.title}}</label>
                <div class="col-md-4">
                    <div ng-switch="value.type">
                        <input ng-switch-when="text" type="text" name="{{key}}"
                               class="form-control  input-medium " ng-model="value.value"/>
                        <div ng-switch-when="radio">
                            <ui-select ng-model="value.value" class="input-medium "
                                       theme="bootstrap">
                                <ui-select-match
                                        placeholder="选择或搜索">
                                    {{$select.selected.text}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.value as item in value.options | filter: $select.search">
                                    <span ng-bind-html="item.text | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div ng-switch-when="checkbox">
                            <ui-select multiple theme="bootstrap" class="input-medium "
                                       ng-disabled="disabled"  ng-model="value.value" >
                                <ui-select-match>
                                    {{$item.text}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.value as  item in value.options | propsFilter: {text: $select.search}">
                                    {{item.text}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button ng-click="saveConf()" class="btn  btn-sm green">保存 <i class="fa fa-save"/></button>
                </div>
            </div>
        </div>
    </form>
</div>