<!-- Begin: info -->
<script type="text/javascript" src='../../assets/admin/pages/scripts/components-pickers.js'/>
<script type="text/javascript" src='../../assets/admin/pages/scripts/components-form-tools.js'/>
<div id="form_info" class="modal fade bs-modal-lg" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#" data-target="#info_1" data-toggle="tab">{{fieldGroup[1]}}</a>
                        </li>
                        <li ng-repeat="(key,value) in fieldGroup track by $index" ng-if="key != '1'">
                            <a href="#" data-target="#info_{{key}}" data-toggle="tab">{{value}}</a>
                        </li>

                    </ul>
                </div>
                <div class="modal-body ">
                    <form enctype="multipart/form-data" method="post" action="{{action}}"
                          class="form-horizontal form-row-seperated ng-pristine ng-valid" name="{{$state.$current.data.handleController}}-info">
                        <input type="text" id="form_info_id" hidden="true" ng-model='info["id"]'/>
                        <div class="tab-content">
                            <div class="tab-pane active" id="info_1">
                                <div ng-repeat="field in fieldList[1] track by $index" ng-show="field.is_show == '1'"
                                     class="form-group">
                                    <div ng-include="'views/module/field.html'">
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="(key,value) in fieldGroup track by $index" ng-if="key != '1'" class="tab-pane"
                                 id="info_{{key}}">
                                <div ng-repeat="field in fieldList[key] track by $index" ng-show="field.is_show == '1'"
                                     class="form-group">
                                    <div ng-include="'views/module/field.html'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" ng-show="infoErrorShow" ng-bind="infoErrorMsg">
                        <button class="close" data-close="alert"></button>
                    </div>
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn green" ng-click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>