<div ng-include="'views/module/pageInfo.html'"/>
<div class="row" ng-controller="ListController">
    <input id="model" hidden="true"
           value="{{$state.$current.data.model}}">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">{{$state.$current.data.pageTitle}}</span>
                </div>
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">信息</a>
                    </li>
                    <li ng-if="rootData.conf">
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">配置</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="alert alert-danger" ng-show="errorShow" ng-bind="showMsg">
                    <button class="close" data-close="alert"></button>
                </div>
                <div class="alert alert-success" ng-show="successShow" ng-bind="showMsg">
                    <button class="close" data-close="alert"></button>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div ng-include="'views/module/search-bar.html'" ng-controller="ListController"/>
                        <div ng-include="'views/module/table.html'" ng-controller="ListController"/>
                    </div>
                    <div ng-if="rootData.conf" class="tab-pane" id="tab_1_2">
                        <div data-ng-include="'views/common/conf.html'" ng-controller="ConfController">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="rootData.info" ng-include="'views/common/info-modal.html'" ng-controller="InfoController"/>
