<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="img/screen_icon.png">
    <title>在线问答</title>
    <link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css"/>
    <link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/css/car.css">
    <script src="{:ADDON_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
    <script src="{:ADDON_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script>
        $(function(){
            /*报名表单*/
            $("#contact,#question").focus(function(){
                $(this).addClass("focus");
                if($(this).val() ==this.defaultValue){
                    $(this).val("");
                }
            }).blur(function(){
                if ($(this).val() == '') {
                    $(this).removeClass("focus");
                    $(this).val(this.defaultValue);
                }else{
                    $(this).addClass("focus");
                }
            });
        })
    </script>
</head>
<body class="x_flowAuto">
<div id="pageAsk" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none" class="x_header" data-position="fixed" data-tap-toggle="false">
        <a href="#" data-role="none" data-rel="back" class="x_btn_back" data-transition="slide"></a>
        <h1>在线问答</h1>
    </div>
    <!--//header -->
    <div class="x_content">
        <div class="c_subHead">
            <!--在线问答-->
            <div class="c_formMain">
                <div class="c_formTit">您有任何的问题都可以向我们咨询</div>
                <div>
                    <textarea data-role="none" name="textarea" id="question" class="c_texta">请输入您想要了解的</textarea>

                    <div class="x_blank"></div>
                    <input data-role="none" type="text" id="contact" class="c_ipt " value="请输入您的联系方式">
                </div>
                <div class="x_blank"></div>
                <a href="#" class="ui-btn ui-corner-all x_btn x_btn_curr" id="" onclick="info_submit()  ">提交</a>
            </div>
        </div>
        <div class="c_askBk">
            <div  id="ask_list"></div>
            <!--<volist name="list" id="vo">-->
            <!--<div class="c_ask">-->
            <!--<div class="tit01">-->
            <!--<div class="pic01"><img src="{$vo.headimgurl}"></div>-->
            <!--<div class="info01">{$vo.nickname}<label>{$vo.str_time}</label></div>-->
            <!--</div>-->
            <!--<div class="row01">-->
            <!--{$vo.question}-->
            <!--</div>-->
            <!--<div class="row02">-->
            <!--<span>驾校回复：</span>{$vo.answer}-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="x_blank"></div>-->
            <!--</volist>-->
            <input id="load_number" type="hidden" value="0">
            <a href="#" class="ui-btn ui-corner-all x_btn" id="load_more" onclick="load_more()">加载更多</a>
        </div>

    </div>
    <!-- /wrapper -->
</div>
<!--//Page-->

<script>
    $(function(){
        load_more();
    });

    function info_submit() {
        var question = $("#question").val();
        var phone = $("#re_phone").val();
        var remark = $("#re_remark").val();
        $.ajax({ //一个Ajax过程
            type: "post",
            url: "{:addons_url('Student://Question/add')}",
            dataType: 'json',
            data: 'question=' + question,
            success: function (data) {
                if (data.status == 0) {
                    document.getElementById("c_warn").style.display = "";
                    document.getElementById("c_warn_label").innerHTML = data.info;
                } else {
                    $("#question").val(null);
                    alert("添加成功");
                    location.reload();
                }
            },
            failed: function () {
                alert("异常！");
            }
        })

    }

    // load more  apprise
    function load_more() {
        load_number = parseInt($("#load_number").val());
        load_number = load_number+3;
        $.ajax({
            type: "get",
            url: "{:U('getAskData')}",
            dataType: "json",
            data: "load_number="+load_number,
            success: function (data) {
                var askData = document.getElementById('ask_list');
                askData.innerHTML = "";

                // add apprise
                for (var i=0;i<data.length;i++){
                    // inner html
                    var html =
                            "<div class=\"c_ask\">" +
                            "<div class=\"tit01\">" +
                            "<div class=\"pic01\"><img src=\"" + data[i].headimgurl + "\"></div>" +
                            "<div class=\"info01\">" + data[i].nickname + "<label>" + data[i].str_time + "</label></div>" +
                            "</div>" +
                            "<div class=\"row01\">" +
                            data[i].question +
                            "</div>" +
                            "<div class=\"row02\">" +
                            "<span>驾校回复：</span>";

                    if (data[i].answer !== null) {
                        html += data[i].answer;
                    }

                    html += "</div>" +
                    "</div>" +
                    "<div class=\"x_blank\"></div>";

                    askData.innerHTML += html;
                }

                // have any more
                if(data.length < load_number){
                    $("#load_more").hide(true);
                }else{
                    $("#load_number").val(load_number);
                }
            }
        })
    }
</script>

</body>
</html>
