<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="img/screen_icon.png">
<title>绑定</title>
<link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" />
<link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/css/car.css">
<script src="{:ADDON_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
<script>
$(function(){
	  	/*报名表单*/
	$("#id,#name").focus(function(){
		  $(this).addClass("focus");
		  if($(this).val() ==this.defaultValue){  
			  $(this).val(""); 
		  } 
	}).blur(function(){
		 if ($(this).val() == '') {
			 $(this).removeClass("focus");
			$(this).val(this.defaultValue);
		 }else{
			 $(this).addClass("focus");
			}
	});

});


function info_submit(){
    var name = $("#name").val();
    var id = $("#id").val();
    $.ajax({ //一个Ajax过程
        type: "post",
        url: "{:U('getMyInfo')}",
        dataType: 'json',
        data: 'name=' + name + "&card_id="+id,
        success: function (data) {
                if (data.status == 0) {
                    document.getElementById("c_warn").style.display = "";
                    document.getElementById("c_warn_label").innerHTML = data.info;
                } else {
                    document.getElementById("c_warn").style.display = "display:none";
                    location.reload();
                }
        },
        failed: function () {
            document.getElementById("c_warn").style.display = "";
            document.getElementById("c_warn_label").innerHTML = "提交异常!";
        }
    })
};
</script>
</head>
<body class="x_flowAuto  bindBg">
<div id="pageBind" data-role="page" data-theme="none">
    <div class="x_content">
    	<div class="c_bindBk">
            <div class="c_bind">
                <!--绑定-->
                <div class="c_warn_bk" >
                  <!--<div class="c_warn bindWarn" id="c_warn" style="display:none"><span ></span><label>请输入正确的电话号码！</label></div>-->
                    <div class="c_warn" id="c_warn" style="display:none"><span ></span><label id="c_warn_label">请输入正确的电话号码！</label></div>
                </div>
                <div class="c_formMain">
                    <div>
                        <input data-role="none" type="text" id="name" class="c_ipt bindIpt" value="姓名">
                        <div class="x_blank"></div>
                        <input data-role="none" type="text" id="id" class="c_ipt bindIpt" value="身份证号码">
                    </div>
                        <div class="x_blank"></div>
                    <a href="#" class="ui-btn ui-corner-all x_btn bindBtn"  onclick="info_submit()">立即绑定</a>
                </div>
                <!--//绑定-->
            </div>  
       </div>        
	</div><!-- /content -->
</div> <!--//Page-->
</body>
</html>
