<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="{:SCHOOL_PUBLIC_PATH}/img/screen_icon.png">
    <title>教练绑定</title>
    <link rel="stylesheet" href="{:SCHOOL_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css"/>
    <link rel="stylesheet" href="{:SCHOOL_PUBLIC_PATH}/css/car.css">
    <script src="{:SCHOOL_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
    <script>
        $(function () {
            /*搜索栏*/
            $("#searchTxt").focus(function () {
                $(this).addClass("focus2");
                if ($(this).val() == this.defaultValue) {
                    $(this).val("");
                }
            }).blur(function () {
                if ($(this).val() == '') {
                    $(this).removeClass("focus2");
                    $(this).val(this.defaultValue);
                } else {
                    $(this).addClass("focus2");
                }
            });


        });

        /**
         * search the teacher
         */
        function teacherSearch() {
            // param
            var name = $("#searchTxt").val();

            // ajax
            $.ajax({ //一个Ajax过程
                type: "post",
                url: "{:U('searachBindTeacher')}",
                dataType: "json",
                data: "name="+name,//question=asdf&b=c
                success: function (data) {
                    // teacher element
                    var teacherList = document.getElementById('techerList');
                    teacherList.innerHTML = "";

                    // inner html
                    for (var i = 0; i < data.length; i++) {
                        teacherList.innerHTML = teacherList.innerHTML +
                        '<div class="row01 noLink">'+
                        '<div class="pic01"><img src="' + data[i].headimgurl + '"></div>' +
                        '<div class="info01">' +
                        '<div class="name2">' + data[i].name + '</div>' +
                        '<div class="signal">' + data[i].intro + '</div>' +
                        '</div>' +
                        '<a data-ajax="false" data-role="none" class="ui-btn ui-corner-all x_btn x_btn_curr bindBtn2" onclick="bindingTeacher('+data[i].id+');window.location.reload();">绑定</a>'+
                        '</div>' ;
                    }
                },
                failed: function () {
                    alert("查询出现异常");
                }
            })
        };

        /**
         *  bindTeacher
         */
        function bindingTeacher(teacherId){
            $.ajax({ //一个Ajax过程
                type: "post",
                url: "{:U('bindTeacher')}",
                dataType: "json",
                data:"teacherId="+teacherId,//question=asdf&b=c
                success: function (data) {
                    if(data.status == '0'){
                        history.go(-1);
//                        history.
                        location.replace(document.referrer);
                    }else {
                        alert(data.error);
                    }
                },
                failed: function () {
                    alert('绑定出现异常!');
                }
            })

        }
    </script>
    <script src="{:SCHOOL_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
</head>
<body class="x_flowAuto">
<div id="pageMasterList" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none"  class="x_header"  data-position="fixed"  data-tap-toggle="false" style="z-index:999999999">
        <a href="index.html"  data-role="none" data-rel="back" class="x_btn_back" data-transition="slide"  data-ajax="false"></a>
        <a href="#" data-role="none" data-ajax="false" id="searchBtn"  class="ui-btn-right x_btn_search" onclick="teacherSearch()"></a>
        <h1>
        	<input class="searchTxt" id="searchTxt" type="text"  data-role="none" value="请输入您要绑定的教练名称" >
        </h1>
    </div><!--//header -->
    <div class="c_content">
    	<!--没记录提示-->
        <div class="c_msg"   style="display:none">
        	您还没绑定教练，请搜索！
        </div>
        <!--//没记录提示-->
        <!--教练列表-->
        <div class="c_masterList" id="techerList">
        </div>    
        <!--//教练列表-->
	</div><!-- /wrapper -->
</div> <!--//Page-->
</body>
</html>
