<!DOCTYPE html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="{:SCHOOL_PUBLIC_PATH}/img/screen_icon.png">
<title>评价</title>
<link rel="stylesheet" href="{:SCHOOL_PUBLIC_PATH}/css/jquery.mobile-1.4.4.css" />
<link rel="stylesheet" href="{:SCHOOL_PUBLIC_PATH}/css/car.css">
<link rel="stylesheet" href="{:SCHOOL_PUBLIC_PATH}/js/raty/jquery.raty.css">
<script src="{:SCHOOL_PUBLIC_PATH}/js/jquery-1.11.1.min.js"></script>
<script src="{:SCHOOL_PUBLIC_PATH}/js/raty/jquery.raty.js"></script>
<script src="{:SCHOOL_PUBLIC_PATH}/js/jquery.mobile-1.4.4.min.js"></script>
    <script>
        $(function () {
            $('#star').raty({
                number: 5,
                score: {$teacher.level},
                path: "{:SCHOOL_PUBLIC_PATH}/js/raty/images/"
            });
        });

        function submit() {
            var value = $("[name='score']").val();
            var comment = $("#comment").val();

            $.ajax({ //一个Ajax过程
                type: "post",
                url: "{:U('commentTeacher')}",
                dataType: "json",
                data: "value=" + value + "&comment=" + comment+"&teacher_id={$teacher_id}&student_id={$student_id}", //question=asdf&b=c
                success: function (data) {
                    if (data.status == '-1') {
                        alert(data.error);
                    } else {
                        alert("评价成功");
                    }
                },
                failed: function () {
                    alert("评价出错");
                }
            })
        }
        ;
    </script>
</head>
<body class="x_flowAuto">
<div id="pageFollow" data-role="page" data-theme="none">
    <div data-role="header" data-theme="none"  class="x_header"  data-position="fixed"  data-tap-toggle="false">
        <a href="#"  data-role="none" data-rel="back" class="x_btn_back" data-ajax="false"></a>
        <h1>评价</h1>
    </div><!--//header -->
    <div class="x_content">
        <div class="c_masterList">
            <div class="row01 noLink">
                <div class="pic01"><img src="{$teacher.headimgurl}"></div>
                <div class="info01">
                    <div class="name2">{$teacher.name}</div>
                    <div class="signal">{$teacher.intro}</div>
                </div>
            </div>
        </div>
        <div class="c_subHead">
            <div class="c_formMain">
            	<!--星级评论-->
                <div class="c_star">
                	<label>服务质量：</label><span id="star"></span>
                </div>
                <!--//星级评论-->
                <div>
                    <textarea data-role="none" name="textarea" id="comment" class="c_texta">{$data.apprise}<eq name="data.apprise" value ="">请输入评论信息</eq></textarea>
                </div>
                    <div class="x_blank"></div>
                <a href="#" class="ui-btn ui-corner-all x_btn x_btn_curr" id="" onclick="submit()">提交</a>
            </div>
        </div>
	</div><!-- /content -->
</div> <!--//Page-->
</body>
</html>
