<div class="row">
    <div id="condition-modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel10"
         aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">搜索条件</h4>
                    </div>
                    <div class="portlet-body form ">
                        <form action="#" class="form-horizontal" id="search_form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">报名日期</label>

                                            <div class="col-md-3">
                                                <div class="input-group input-medium date-picker input-daterange"
                                                     data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                                    <input type="text" class="form-control" name="sign_begin_date">
												<span class="input-group-addon">
												到 </span>
                                                    <input type="text" class="form-control" name="sign_end_date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">付款情况</label>

                                            <div class="col-md-9">
                                                <select name="pay_status" class="select2me form-control">
                                                    <option value="">所有</option>
                                                    <option value="0">未付款</option>
                                                    <option value="1">未全额付款</option>
                                                    <option value="2">已全额付款</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">报名来源</label>

                                            <div class="col-md-9">
                                                <select name="intro_source" class="select2me form-control">
                                                    <option value="">所有</option>
                                                    <option value="0">微信</option>
                                                    <option value="1">教练介绍</option>
                                                    <option value="2">学员介绍</option>
                                                    <option value="3">网站</option>
                                                    <option value="4">门店介绍</option>
                                                    <option value="5">轻轻平台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">最近考试</label>

                                            <div class="col-md-9">
                                                <select name="recent_exam" class="select2me form-control">
                                                    <option value="">所有</option>
                                                    <option value="1">是</option>
                                                    <option value="0">否</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">考试通知</label>

                                            <div class="col-md-9">
                                                <select name="exam_notify" class="select2me form-control">
                                                    <option value="">所有</option>
                                                    <option value="0">未通知</option>
                                                    <option value="1">已通知</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">姓名</label>

                                            <div class="col-md-9">
                                                <input type="text" name="name" class="form-control"
                                                       placeholder="进行模糊查询">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">证件号码</label>

                                            <div class="col-md-9">
                                                <input type="text" name="card_id" class="form-control"
                                                       placeholder="进行模糊查询">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">联系电话</label>

                                            <div class="col-md-9">
                                                <input type="text" name="phone" class="form-control"
                                                       placeholder="进行模糊查询">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-actions right">
                            <button ng-click="loadTable()" class="btn green">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>