<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">Widget settings form goes here</div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content --> </div>
                <!-- /.modal-dialog --> </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="#/dashboard.html">主页</a> <i class="fa fa-circle"></i>
                </li>
                <li class="active">驾校信息</li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title  tabbable-line">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">驾校信息</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#" data-target="#tab_1_1" data-toggle="tab">通用信息</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_2" data-toggle="tab">图集</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_3" data-toggle="tab">驾校简介</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_4" data-toggle="tab">报名指南</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_5" data-toggle="tab">学车流程</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body form" >
                            <form action="javascript:;" class="form-horizontal">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1">
                                        <div class="form-body">
                                            <div class="alert alert-danger" ng-show="errorShow" ng-bind="returnMsg">
                                                <button class="close" data-close="alert"></button>
                                            </div>
                                            <div class="alert alert-success" ng-show="successShow" ng-bind="returnMsg">
                                                <button class="close" data-close="alert"></button>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="control-label col-md-3">照片</label>
                                                <div class="col-md-4" ng-controller="EditController" nv-file-drop="" uploader="photo" filters="queueLimit, customFilter">
                                                    <div ng-repeat="item in photo.queue">
                                                        <div ng-show="photo.isHTML5" ng-thumb="{ file: item._file, height: 100 }">
                                                            <canvas width="75" height="100"></canvas>
                                                        </div>
                                                    </div>
                                                    <span class="btn green fileinput-button">
                                                        <span>选择</span>
                                                        <input type="file"  nv-file-select="" uploader="photo"/>                                            
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    名称
                                                    <span
                                                    class="required">*</span>
                                                </label>
                                                <div class="col-md-4">
                                                    <div class="input-icon right">
                                                        <input type="text" name="name" class="form-control"
                                                        ng-model="model.name"/>                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    地址
                                                    <span class="required">*</span>
                                                </label>

                                                <div class="col-md-4">
                                                    <input type="text" name="address" class="form-control"
                                                ng-model="model.address"/>                        
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    电话
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input type="text"
                                                    name="phone" class="form-control" ng-model="model.phone"/>                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">qq</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"> <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input type="text"
                                                    name="phone" class="form-control" ng-model="model.qq"/>                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">招生地点</label>
                                                <div class="col-md-4">
                                                    <div class="checkbox-list">
                                                        <div ng-repeat="item in recruit_place_list" ng-controller="EditController">
                                                            <label>
                                                                <input type="checkbox" checkbox-group name="recruit_place"/>                        
                                                                {{item.value}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green">Submit</button>
                                                    <button type="button" class="btn default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                     <div class="tab-pane active" id="tab_1_2">
                                        <div class="form" ng-controller="EditController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                            <div class="form-body">
                                                <div class="table-scrollable table-scrollable-borderless">
                                                    <table class="table table-hover table-light">
                                                        <thead>
                                                            <tr class="uppercase">
                                                                <th width="50%">名称</th>
                                                                <th ng-show="uploader.isHTML5">
                                                                <th ng-show="uploader.isHTML5">进度</th>
                                                                <th>状态</th>
                                                                <th>操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in uploader.queue">
                                                                <td> <strong>{{ item.file.name }}
                                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"><canvas width="75" height="100"></canvas></div></strong>
                                                                </td>
                                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                                <td ng-show="uploader.isHTML5">
                                                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <span ng-show="item.isSuccess" class="text-success"> <i class="glyphicon glyphicon-ok"></i>
                                                                    </span>
                                                                    <span ng-show="item.isCancel" class="text-info"> <i class="glyphicon glyphicon-ban-circle"></i>
                                                                    </span>
                                                                    <span ng-show="item.isError" class="text-danger">
                                                                        <i class="glyphicon glyphicon-remove"></i>
                                                                    </span>
                                                                </td>
                                                                <td nowrap>
                                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                        <span class="glyphicon glyphicon-upload"></span>
                                                                        上传
                                                                    </button>
                                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                                                        取消
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                        删除
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                <div class="progress progress-sm" style="">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-md-offset-3 col-md-9">
                                                <span class="btn green fileinput-button">
                                                    <i class="fa fa-plus"></i>
                                                    <span>选择文件</span>
                                                    <input type="file"  nv-file-select="" uploader="uploader" multiple />                                    
                                                </span>
                                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                    上传所有
                                                </button>
                                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                                    取消所有
                                                </button>
                                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                    删除所有
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    </div>
                                    <div class="tab-pane active" id="tab_1_3">
                                        <div class="form">
                                            <div class="form-body">
                                                <summernote name="html"></summernote>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn purple">
                                                            <i  class="fa fa-check"></i>
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="tab_1_4">
                                        <div class="form">
                                            <div class="form-body">
                                                <summernote></summernote>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn purple">
                                                            <i
                                                            class="fa fa-check"></i>
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="tab_1_5">
                                        <div class="form">
                                            <div class="form-body">
                                                <summernote></summernote>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn purple">
                                                            <i
                                                            class="fa fa-check"></i>
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN MAIN JS-->
<script>
    
</script>