<div ng-include="'views/common/list.html'"/>
<div ng-include="'views/common/weixin-bind-modal.html'"/>
<div ng-include="'views/student/detail.html'"/>
<script>
    /**
     * 设置推荐费支付
     */
    function inPay(id){
        // 发送推荐飞推荐
        $.get(Metronic.rootPath() + "/index.php?s=/addon/student/student/inPay/student_id/"+id, function (data) {
            // 返回成功，关闭当前窗口，刷新列表
            if (data.result) {
                TableAjax.reload('list');
            }

            // 返回失败，显示错误信息
            else {
                alert(data.message);
            }
        });
    }
</script>