<div class="row pull-right" style="margin-right: 5px">
    <input id="list-search-name" hidden="true">
    <input type="searchText" class="form-control input-small input-inline  input-sm"
           placeholder=""
           aria-controls="sample_2" id="list-search-text">
    <button class="btn btn-sm green" ng-click="searchStudent()">搜索 <i
            class="fa fa-search"></i>
    </button>
    <div class="btn-group">
        <a class="btn btn-sm default yellow-stripe" href="#" data-toggle="dropdown">
            <i class="fa fa-share"></i>
                        <span>
                        其他 </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="javascript:TableAjax.add()">
                    新增 </a>
            </li>
            <li>
                <a href="javascript:TableAjax.add()">
                    字段配置 </a>
            </li>
            <li>
                <a href="#" ng-click="syncStudentInfo()">
                    同步信息 </a>
            </li>
        </ul>
    </div>
</div>