<div ng-switch="fieldList[key][$index+1].type">
    <input ng-switch-when="string" type="text" name="{{fieldList[key][$index+1].name}}"
           class="form-control  input-medium " ng-model="info[fieldList[key][$index+1].name]" ng-disabled="infoDisabled"/>
    <input ng-switch-when="num" class="form-control  input-medium "
           type="text" ng-model="info[fieldList[key][$index+1].name]" ng-disabled="infoDisabled">
        <textarea ng-switch-when="textarea" class="form-control input-medium" maxlength="500" rows="5"
                  ng-disabled="infoDisabled"></textarea>

    <input ng-switch-when="date"
           class="form-control form-control-inline input-medium datePicker"
           type="text" data-date-format="yyyy-mm-dd" name="{{fieldList[key][$index+1].name}}" ng-model="info[fieldList[key][$index+1].name]"
           ng-disabled="infoDisabled">

    <div ng-switch-when="datetime" class="input-group  input-medium  date form_datetime dataTimePicker">
        <input type="text" name="{{fieldList[key][$index+1].name}}" size="16" class="form-control" ng-model="info[fieldList[key][$index+1].name]"
               ng-disabled="infoDisabled">
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"
                                                        ng-disabled="infoDisabled"><i
                                                        class="fa fa-calendar"></i></button>
												</span>
    </div>
    <div ng-switch-when="radio">
        <ui-select ng-model="info[fieldList[key][$index+1].name]" class="input-medium "
                   theme="bootstrap" name="{{fieldList[key][$index+1].name}}" ng-disabled="infoDisabled">
            <ui-select-match
                    placeholder="选择或搜索">
                {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices
                    repeat=" item.value as item in metadata[fieldList[key][$index+1].name] | filter: $select.search">
                <span ng-bind-html="item.text | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-switch-when="select">
        <ui-select ng-model="info[fieldList[key][$index+1].name]" class="input-medium "
                   theme="bootstrap" name="{{fieldList[key][$index+1].name}}" ng-disabled="infoDisabled">
            <ui-select-match
                    placeholder="选择或搜索">
                {{$select.selected.text}}
            </ui-select-match>
            <ui-select-choices
                    repeat=" item.value as item in metadata[fieldList[key][$index+1].name] | filter: $select.search">
                <ng-if>
                    <span ng-bind-html="item.text | highlight: $select.search"></span>
                </ng-if>
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-switch-when="checkbox">
        <ui-select multiple theme="bootstrap" class="input-medium "
                   ng-disabled="disabled" ng-model="info[fieldList[key][$index+1].name]" name="{{fieldList[key][$index+1].name}}"
                   ng-disabled="infoDisabled">
            <ui-select-match>
                {{$item.text}}
            </ui-select-match>
            <ui-select-choices
                    repeat="item.value as  item in metadata[fieldList[key][$index+1].name] | propsFilter: {text: $select.search}">
                {{item.text}}
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-switch-when="editor">
        <summernote name="{{fieldList[key][$index+1].name}}" ng-model="info[fieldList[key][$index+1].name]" name="{{fieldList[key][$index+1].name}}"
                    ng-disabled="infoDisabled">
        </summernote>
    </div>
    <div ng-switch-when="picture" ng-disabled="infoDisabled">
        <div class="fileinput fileinput-new"
             data-provides="fileinput">
            <div class="fileinput-new thumbnail">
                <img src="./resource/no-image.png"
                     style="max-height: 150px;" alt=""
                     ng-src="{{info.photoUrl}}">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail"
                 style="max-width: 200px; max-height: 150px;">
            </div>
            <div>
                                                <span class="btn default btn-file">
                                                <span class="fileinput-new">
                                                选择 </span>
                                                <span class="fileinput-exists">
                                                修改 </span>
                                                    <input fileread info="info" name="{{fieldList[key][$index+1].name}}" type="file"
                                                           accept="image/*">
                                                </span>
                <a href="#" class="btn red fileinput-exists"
                   data-dismiss="fileinput">
                    取消 </a>
            </div>
        </div>
        <!--</form>-->
    </div>
</div>
    
