<label class="col-sm-4 control-label">{{field.title}}</label>
<div class="col-sm-8">
    <div ng-switch="field.type">
        <input ng-switch-when="string" type="text" name="{{field.name}}"
               class="form-control  input-medium " ng-model="info[field.name]"/>
        <input ng-switch-when="num" class="form-control  input-medium "
               id="mask_number"
               type="text" ng-model="info[field.name]">
        <input ng-switch-when="date"
               class="form-control form-control-inline input-medium date-picker"
               size="16"
               data-date-format="yyyy-mm-dd"
               type="text" ng-model="info[field.name]"/>

        <div ng-switch-when="radio">
            <ui-select ng-model="person.selected" theme="bootstrap"
                       name="{{field.name}}"
                       ng-model="info[field.name]">
                <ui-select-match placeholder="选择或搜索">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item in metadata[getText] | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                    <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-switch-when="select">
            <ui-select ng-model="selected[field.name]" class="input-medium "
                       theme="bootstrap">
                <ui-select-match
                        placeholder="选择或搜索">
                    <!--{{$select.selected.text}}-->
                    {{$select.selected.text}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item in metadata[field.name] | filter: $select.search">
                    <span ng-bind-html="item.text | highlight: $select.search"></span>
                    <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-switch-when="checkbox" name="{{field.name}}"
             class="input-medium ">
            <ui-select multiple theme="bootstrap"
                       ng-disabled="disabled" ng-model="multipleDemo"
                       ng-model="info[field.name]">
                <ui-select-match placeholder="Select person...">
                    {{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                <ui-select-choices
                        repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                    {{person.name}} - {{person.email}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-switch-when="picture">
            <div class="fileinput fileinput-new"
                 data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                         style="max-height: 150px;" alt=""
                         ng-src="{{info.photoUrl}}">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                                                <span class="btn default btn-file">
                                                <span class="fileinput-new">
                                                选择 </span>
                                                <span class="fileinput-exists">
                                                修改 </span>
                                                    <input fileread info="info" name="{{field.name}}" type="file"
                                                           accept="image/*">
                                                </span>
                    <a href="#" class="btn red fileinput-exists"
                       data-dismiss="fileinput">
                        取消 </a>
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>
    <p class="help-block">
        {{field.reamrk}}
    </p>
</div>