<label class="col-sm-4 control-label">{{field.title}}</label>
<div class="col-sm-8">
    <div ng-switch="field.type">
        <input ng-switch-when="string" type="text" name="{{field.name}}"
               class="form-control  input-medium " ng-model="info[field.name]"/>
        <input ng-switch-when="num" class="form-control  input-medium "
               type="text" ng-model="info[field.name]">
        <input ng-switch-when="textarea" type="text" name="{{field.name}}"
               class="form-control  input-medium " ng-model="info[field.name]"/>
        <input ng-switch-when="date"
               class="form-control form-control-inline input-medium datePicker"
               type="text" data-date-format="yyyy-mm-dd" name="{{field.name}}" ng-model="info[field.name]">
        <div ng-switch-when="datetime" class="input-group  input-medium  date form_datetime dataTimePicker">
            <input type="text" name="{{field.name}}" size="16" readonly class="form-control">
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i
                                                        class="fa fa-calendar"></i></button>
												</span>
        </div>
        <div ng-switch-when="radio">
            <ui-select ng-model="info[field.name]" class="input-medium "
                       theme="bootstrap" name="{{field.name}}" >
                <ui-select-match
                        placeholder="选择或搜索">
                    {{$select.selected.text}}
                </ui-select-match>
                <ui-select-choices
                        repeat=" item.value as item in metadata[field.name] | filter: $select.search">
                    <span ng-bind-html="item.text | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-switch-when="select">
            <ui-select ng-model="info[field.name]" class="input-medium "
                       theme="bootstrap" name="{{field.name}}" >
                <ui-select-match
                        placeholder="选择或搜索">
                    {{$select.selected.text}}
                </ui-select-match>
                <ui-select-choices
                        repeat=" item.value as item in metadata[field.name] | filter: $select.search">
                    <span ng-bind-html="item.text | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-switch-when="checkbox">
            <ui-select multiple theme="bootstrap" class="input-medium "
                       ng-disabled="disabled" ng-model="info[field.name]" name="{{field.name}}" >
                <ui-select-match>
                    {{$item.text}}
                </ui-select-match>
                <ui-select-choices
                        repeat="item.value as  item in metadata[field.name] | propsFilter: {text: $select.search}">
                    {{item.text}}
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{info[field.name]}}</p>
        </div>
        <div ng-switch-when="editor">
            <summernote name="{{field.name}}" ng-model="info[field.name]" name="{{field.name}}" >
            </summernote>
        </div>
        <div ng-switch-when="picture">
            <div class="fileinput fileinput-new"
                 data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                         style="max-height: 150px;" alt=""
                         ng-src="{{info.photoUrl}}">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                                                <span class="btn default btn-file">
                                                <span class="fileinput-new">
                                                选择 </span>
                                                <span class="fileinput-exists">
                                                修改 </span>
                                                    <input fileread info="info" name="{{field.name}}" type="file"
                                                           accept="image/*">
                                                </span>
                    <a href="#" class="btn red fileinput-exists"
                       data-dismiss="fileinput">
                        取消 </a>
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>
    <p class="help-block">
        {{field.reamrk}}
    </p>
</div>