<div class="row pull-right" style="margin-right: 5px">
    <input id="list-search-name" hidden="true">
    <input type="searchText" class="form-control input-small input-inline  input-sm"
           placeholder=""
           aria-controls="sample_2" id="list-search-text">
    <button class="btn btn-sm green" onclick="javascript:TableAjax.reload('list')">搜索 <i
            class="fa fa-search"></i>
    </button>
    <div class="btn-group btn-group-sm btn-group-solid">
        <button onclick="TableAjax.add()" type="button" class="btn red">新增</button>
    </div>
</div>
