<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="actions">
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dataTables_filter pull-right">
            <input type="searchText" class="form-control input-small input-inline  input-sm"
                   placeholder=""
                   aria-controls="sample_2" id="search-text">
            <button class="btn btn-sm yellow" onclick="javascript:TableAjax.reload()">搜索 <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>