<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="actions">
            <a href="javascript:TableAjax.add()" class="btn default">
                    <span class="hidden-480">
                    导出成excel</span>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dataTables_filter pull-right">
            <input type="searchText" class="form-control input-small input-inline  input-sm"
                   placeholder=""
                   aria-controls="sample_2" id="search-text">
            <button class="btn btn-sm green" onclick="javascript:TableAjax.reload()">搜索
            </button>
        </div>
    </div>
</div>